.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.authBtn {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 30px;
  margin: 2px auto;
  border-radius: 5px;
  color: #fff;
  background-color: #1e99e0;
  border: none;
  outline: none;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
