.form {
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(66, 140, 209, 0.842),
    rgba(184, 182, 182, 0.932),
    rgba(44, 62, 124, 0.842)
  );
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.inputTitle {
  width: 130px;
}

.registrationLabel {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 25px;
}

.registrationInput {
  font-size: 16px;
  font-weight: 500;
  padding: 0 25px;
  min-width: 60%;
  max-width: 80%;
  height: 40px;
  border: 1px solid #777;
  border-radius: 10px;
}

.registrationButton {
  color: #fff;
  background-color: #1e99e0;
  border: none;
  outline: none;
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 14px;
}

.registrationButton:hover {
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #1eb88a;
}
