.home {
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(66, 140, 209, 0.842),
    rgba(184, 182, 182, 0.932),
    rgba(44, 62, 124, 0.842)
  );
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
